@model Proyecto1.Models.Inventario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodegaId" class="control-label"></label>
                <input asp-for="BodegaId" class="form-control" />
                <span asp-validation-for="BodegaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" type="number" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TipoLicor" class="control-label"></label>
                <select asp-for="TipoLicor" class="form-control">
                    <option value="0">Cerveza</option>
                    <option value="1">Tequila</option>
                    <option value="2">Ron</option>
                    <option value="3">Ginebra</option>
                    <option value="4">Whisky</option>
                    <option value="5">Digestivo</option>
                    <option value="6">Agua ardiente</option>
                    <option value="7">Vino tinto</option>
                    <option value="8">Vino blanco</option>
                    <option value="9">Vino Rosado</option>
                    <option value="10">Champagne</option>
                </select>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
