@model Proyecto1.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoSinIVA" class="control-label"></label>
                <input asp-for="CostoSinIVA" class="form-control" />
                <span asp-validation-for="CostoSinIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoTotal" class="control-label"></label>
                <input asp-for="CostoTotal" class="form-control" />
                <span asp-validation-for="CostoTotal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="0">En proceso</option>
                    <option value="1">Facturado</option>
                    <option value="2">Por entregar</option>
                    <option value="3 ">Entregado </option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control">
                    @foreach (var producto in (ViewData["inventarios"] as List<Inventario> ?? new List<Inventario>()))
                    {
                        <option value="@producto.Id">@producto.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

